/* Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B37C57;
    color:#FEF7F8
} 
/* Code for the grid */
:root {
    --grid-rows: 1;
    --grid-columns: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    aspect-ratio: 100 / 29;
    margin-top: 2em;
}

.grid {
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    height: 480px;
    width: 480px;
    margin-top: 2em;
}

.grid-item {
    padding: 10px 10px;
    text-align: center;
    background-color: #FEF7F8;

}


